@import '../../styles/colors.scss';

.blog {
  display: flex;
  flex-flow: column;
  margin: 20px auto;
  justify-content: center;
  color: $text-color;

  h2 {
    margin-bottom: 0;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
  }
}
