@import ".../../../../styles/colors.scss";

.layout {
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 0 20px;
}

.content {
  margin: auto;
}

.navbar {
  padding-top: 26px;
  margin-right: auto;

  a {
    text-decoration: none;
    color: inherit;
  }

  h1 {
    font-size: 26px;
    font-family: Montserrat, sans-serif;
    line-height: 1.1;
    font-weight: 900;
    color: $primary-color;
  }
}

footer {
  margin-top: 60px;
  margin-bottom: 35px;
  text-align: center;

  color: $text-color-2;
  a {
    color: $primary-color;
  }
}

.titleDivider {
  display: flex;
  flex-flow: column;
  text-align: start;

  .description {
    color: rgb(62, 75, 80);
    font-size: 13px;
    margin: 0;
  }
}
