@import "../../styles/colors.scss";

.page {
  margin: 20px auto;
}

.header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;

  h1 {
    padding: 0;
    margin: 0;
    margin-bottom: 28px;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.1;
    font-weight: 900;
    margin-bottom: 7px;
    color: #232129;
  }

  span {
    color: $grey-light;
  }
}

.tags {
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  color: $grey-light;
  font-size: 14px;
  margin-top: 0;
}

.content {
  margin: 40px auto;

  p, li {
    line-height: 1.6em;
    color: $text-color;
    font-size: 18px;
  }
  b {
    font-weight: 700;
  }

  blockquote {
    font-style: italic;
    color: #666;
    margin-top: 29px;
    border-left: 3px solid $primary-color;
    padding-left: 20px;
    margin-left: 5px;
    padding-bottom: 2px;
    
    p {
      margin: 0;
      padding: 0;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    padding: 1em 0;
    margin: 0;
    margin-bottom: -0.9em;
    line-height: 1.5em;
    outline: none;
    font-family: 'Poppins', 'Roboto', 'Segoe UI', sans-serif;
    color: #3e4b50;
  }
}
