@import '../../styles/colors.scss';

.postItem {
  width: 100%;
  max-width: 800px;
  margin: 15px 0;
  cursor: pointer;

  h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 28px;
    font-size: 27px;
    font-family: Montserrat,sans-serif;
    line-height: 1.1;
    font-weight: 900;
    margin-bottom: 7px;
    color: #232129;
  }
}